TeCgame/TeCgame.VC.db
TeCgame/TeCgame_log.html
TeCgame/.vs/TeCgame/v14/.suo
TeCgame/Debug/Action.obj
TeCgame/Debug/Camera.obj
TeCgame/Debug/GameSystem.obj
TeCgame/Debug/TeCgame.exe
TeCgame/Debug/TeCgame.ilk
TeCgame/Debug/vc140.pdb
TeCgame/Debug/vc140.idb
TeCgame/Debug/TeCgame.tlog/TeCgame.write.1u.tlog
TeCgame/Debug/TeCgame.tlog/CL.write.1.tlog
TeCgame/Debug/TeCgame.pdb
TeCgame/Debug/TeCgame.log
*.tlog
*.obj
*.lib
*.exp
*.lastbuildstate
*.res
*.exe
*.ilk
*.log
*.pdb
*.idb
TeCgame/Debug/TeCgame_log.html
TeCgame/.vs/slnx.sqlite
TeCgame/.vs/VSWorkspaceState.json
TeCgame/.vs/TeCgame/v15/Browse.VC.db
TeCgame/.vs/TeCgame/v15/.suo
TeCgame/.vs/ProjectSettings.json
